<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공연 등록</title>

</head>
<body>
<h1>공연 등록</h1>
<!--웹에서 입력한 데이터를 서버로 보내야됨-->
<!--데이터를 서버로 보내는 2가지 조건 : 폼 태그로 감싸져 있어야 함, name 을 가지고 있어야 함-->
<form method="post" enctype="multipart/form-data"> <!--서버로 파일 보내기 위해 enctype 추가-->
    <div>
        <!--name을 html과 controller만 맞춰주면 되는구나!!!!!-->
        <input type="file" name="file" placeholder="포스터 이미지 입력" required/> <!--name file로 해야함!!!-->
    </div>
    <div>
        <button>공연 등록하기</button>
    </div>
</form>

</body>
</html>