<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Now Amazing Webpage</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slick({
                slidesToShow: 3,
                slidesToScroll: 3
            });
        });
    </script>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        .slider {
            width: 1100px;
            margin: 0px auto;
        }
        .slider .slick-slide {
            margin-left: 40px;
            margin-top: 100px;
        }
        .slick-prev:before, .slick-next:before {
            color: #444444;
        }
    </style>
</head>
<body>
<!--<tr th:each ="list : ${lists}">
<input type="hidden" name="id" th:value="${list.performanceId}" />
<a th:href="'/performance/detail?id=' + ${list.performanceId}"><img th:src="${list.poster}" ></a>-->
<h1>메인 페이지</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>


    <div class="slider">
        <div><a th:href="'/performance/detail?id=' + 37"> <img src="/posters/2023/01/18/ce53c443b2bf4c33b5f04d62c1434fa4.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 36"> <img src="/posters/2023/01/18/41e043bb835c429ba738e2cfa81b2c17.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 35"> <img src="/posters/2023/01/18/733e8a45cf8343208a9889cfd63fc17c.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 34"> <img src="/posters/2023/01/18/db92177220214a13bdea55657ecdd8c0.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 33"> <img src="/posters/2023/01/18/c52648aa91c1480c957267e64dbd95ee.png" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 32"> <img src="/posters/2023/01/17/178c1868309f449e88eb9e57dc0ab4d2.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 31"> <img src="/posters/2023/01/17/6cff117ef8c14e55ace0b2779da79ade.png" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 30"> <img src="/posters/2023/01/17/18d78705a50f4688a6406a3ba345d362.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 29"> <img src="/posters/2023/01/17/ebf3c0f53ec34fbca642d1128afca9f2.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 28"> <img src="/posters/2023/01/17/b27f485766d64cc1a08a54808205e020.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 27"> <img src="/posters/2023/01/17/a120f6196b5f4df996f00f09f2fbf194.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 26"> <img src="/posters/2023/01/17/69c4e6f3d1bb443aa46dcc5917d4aead.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 25"> <img src="/posters/2023/01/17/4968767c76dc4e50b5af975b183afcb7.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 24"> <img src="/posters/2023/01/17/f6044f57a6814616bc37440eed7273d0.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 23"> <img src="/posters/2023/01/17/dca01259b7b54b52809151f8a4b8aa8b.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 22"> <img src="/posters/2023/01/17/2d56e1569df4444493009d8ad061db4b.jpeg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 21"> <img src="/posters/2023/01/17/9f9e5e2cf5fe44aeaa371fd887acab14.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 20"> <img src="/posters/2023/01/17/c8192e7cd05846a9939875a1fa45d6d8.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 19"> <img src="/posters/2023/01/17/7f6eaf0266b24a3b8f5271b6227e955f.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 18"> <img src="/posters/2023/01/17/5b397a57ef0542089181cc6545780cfd.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 17"> <img src="/posters/2023/01/17/77e0ce6192554af4b1305742faaefe67.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 16"> <img src="/posters/2023/01/17/fce28d82ca874dd4aa22bcc87fd25932.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 15"> <img src="/posters/2023/01/17/f05c69c9f06e4d9e9714cdf298b7b02a.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 14"> <img src="/posters/2023/01/17/c302a8c98fb246b09a6014da6e3e02dc.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 13"> <img src="/posters/2023/01/17/411aa9ed1a0a440db6ded500448b5e83.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 12"> <img src="/posters/2023/01/17/797a07a5d5f942c5b58220d20c12c09a.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 11"> <img src="/posters/2023/01/17/b847768ff73a4369b9e0932eafe13ab8.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 10"> <img src="/posters/2023/01/17/a7776124deb848109eb3a369b8dddc8a.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 9"> <img src="/posters/2023/01/17/0fd7d65b8ba04bc3822626c2ec19d276.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 8"> <img src="/posters/2023/01/17/7498b66a4b2e4756bab98841356743e3.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 7"> <img src="/posters/2023/01/17/a3aeb9382df448e0ab6efb76572df021.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 6"> <img src="/posters/2023/01/17/383b3075f9314f02b21a99f7f4a6261b.jpg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 5"> <img src="/posters/2023/01/17/f527c134339e477faac3e1c48fb5fa7f.jpeg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 4"> <img src="/posters/2023/01/17/3f8d2466769d45309ce38dd6abba8eb0.jpeg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 3"> <img src="/posters/2023/01/17/5aec4c4df7f641c6ab8efc618cc87475.jpeg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 2"> <img src="/posters/2023/01/17/b014f861a825450aace21115244f2c51.jpeg" /></a></div>
        <div><a th:href="'/performance/detail?id=' + 1"> <img src="/posters/2023/01/17/641b5a10e9574fd581da535d2e128505.jpg" /></a></div>
    </div>
</body>
</html>


