<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>결제하기</title>
  <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script>
  var clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq'
  var tossPayments = TossPayments(clientKey) // 클라이언트 키로 초기화하기

  tossPayments.requestPayment('카드', { // 결제 수단 파라미터
    // 필수 결제 정보 파라미터
    amount: 15000, /*좌석 수 * 공연가격 값 넣기*/
    orderId: '8IduJaIbK2_IzVekt1eGe', /*난수 주기?*/
    orderName: '', /*공연제목넣기*/
    successUrl: 'http://localhost:8080/payment/success',
    failUrl: 'http://localhost:8080/payment/fail',
  })
          .catch(function (error) {
            if (error.code === 'USER_CANCEL') {
              // 결제 고객이 결제창을 닫았을 때 에러 처리
            } else if (error.code === 'INVALID_CARD_COMPANY') {
              // 유효하지 않은 카드 코드에 대한 에러 처리
            }
          })
</script>
</body>
</html>